@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

.content {
    width: 100%;
    display: flex;
    margin-top: 18px;
    margin-bottom: 20px;
    height: 100vh;
}

.sidebar {
    display: flex;
    align-items: center;
    gap: 55px;
    background-color: #6368d9;
    margin-right: 8px;
    padding-top: 24px;
    border-radius: 18px;
    width: 100px;
    height: auto;
}
.width {
  width: auto;
}

.imglogo {
  width: 55px;
}

.box-content {
  margin-right: 24px;
  border: none;
  background-color: #f3f5f9;
  margin-left: 18px;
  display: flex;
  align-items: center;
  

}

.box-form{

  width:520px;
  margin-top: 150px
}

.title{

  font-size: 40px;
    font-weight: 300;

}

.radius{
  border-radius:2rem;
  margin-top: 4px;
  height:45px
}

.control-label{
  margin-top: 12px;
  font-size:20px;
  color: grey;
}
.add{
  background-color: #6368d9;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 6px;
}

.btn-primary{
  background-color: #6368d9;
    width: 380px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin-top:14px;
    width:520px
}

.tarefas{
  font-size: 20px;
    color: grey;
    margin-top:11px;
}


.voltar{

  width: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:12px;
}
