@model gerenciadorTarefa.Models.EsqueciMinhaSenhaViewModel

<link rel="stylesheet" href="~/css/usuariosLogin.css" asp-append-version="true" />


@{
    ViewData["Title"] = "EsqueciMinhaSenha";
}

<div class="senha" >
    
    <div class="boxesquerda" >
<img class="logoimg" src="~/img/logologin.png" alt="">

        <span class="metas">Alcance suas metas<br />
            gerenciando suas tarefas!</span>

        <img class="imglogo" src="~/img/imglogin.png" alt="">




    </div>

    <div class="boxdireita"  > 
    
     <div class="card-body">
                        <h2 class="card-title mt-5 text-left">Esqueceu sua Senha?</h2>
                        <p class="card-text mt-3 mb-4 text-left fontPequena">Cadastre nova senha</p>
                        <form asp-action="EsqueciMinhaSenha" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mt-5">
                                <label asp-for="Email" class="control-label mb-1 fontMedia">E-MAIL</label>
                                <input asp-for="Email" class="form-control mb-3 inputsLogin larg" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Enviar" class="btn btn-success form-control inputsLogin mb-2 larg color" />
                            </div>
                            <div class="form-group">
                                <p class="text-center mb-5 fontPequena"><a href="/Usuarios/Login">Voltar</a></p>
                            </div>

                        </form>
                    </div>

               </div>    
     </div>

<div class="footer">
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
